spring:
    application:
        name: backend
    datasource:
        url: jdbc:postgresql://db:5432/db
        username: user
        password: password
    jpa:
        hibernate:
            ddl-auto: validate
    jackson:
        property-naming-strategy: SNAKE_CASE
server:
    port: 8080